<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>FreeImmo -Accueil</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{{asset('assets/img/favicon.png')}}" rel="icon">
    <link href="{{asset('assets/img/apple-touch-icon.png')}}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{{asset('assets/vendor/animate.css/animate.min.css')}}" rel="stylesheet">
    <link href="{{('assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{('assets/vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
    <link href="{{('assets/vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{{asset('assets/css/style.css')}}" rel="stylesheet">

    <!-- =======================================================
  * Template Name: EstateAgency
  * Updated: Jan 29 2024 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/real-estate-agency-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
<header>
    <!-- ======= Property Search Section ======= -->
    <div class="click-closed"></div>
    <!--/ Form Search Star /-->
    <!-- End Property Search Section -->>

    <!-- ======= Header/Navbar ======= -->
    <nav class="navbar navbar-default navbar-trans navbar-expand-lg fixed-top">
        <div class="container">
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false"
                aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <a class="navbar-brand text-brand" href="{{path('app_home')}}">Free<span class="color-b">Immo</span></a>

            <div class="navbar-collapse collapse justify-content-center" id="navbarDefault">
                <ul class="navbar-nav">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-end" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Mon Compte</a>
                        <div class="dropdown-menu">
                            {% if app.user %}
                            <a class="dropdown-item " href="{{path('app_login')}}">Mon Compte</a>
                    
                            <a class="dropdown-item " href="{{path('app_logout')}}">Me Déconnecter</a>
                            {% else %}
                            <a class="dropdown-item" href="{{path('app_register')}}">M'Inscrire</a>
                            <a class="dropdown-item" href="{{path('app_login')}}">Me connecter</a>
                            {% endif %}
                    
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="text-decoration-none fw-bolder text-success nav-link" href="#" role="button" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Deposer Une Annonce</a>
                    
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!-- End Header/Navbar -->
    <!-- ======= Intro Section ======= -->
    <div class="intro intro-carousel swiper position-relative">

        <div class="swiper-wrapper">

            <div class="swiper-slide carousel-item-a intro-item bg-image"
                style="background-image: url(assets/img/slide-1.jpg)">
                <div class="overlay overlay-a"></div>
                <div class="intro-content display-table">
                    <div class="table-cell">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="intro-body">
                                        <p class="intro-title-top">
                                            <br>
                                        </p>
                                        <h1 class="intro-title mb-4 ">
                                            <span class="color-b"> </span>
                                            <br>
                                        </h1>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide carousel-item-a intro-item bg-image"
                style="background-image: url(assets/img/slide-2.jpg)">
                <div class="overlay overlay-a"></div>
                <div class="intro-content display-table">
                    <div class="table-cell">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="intro-body">
                                        <p class="intro-title-top">
                                            <br>
                                        </p>
                                        <h1 class="intro-title mb-4">
                                            <span class="color-b"></span> 
                                            <br> 
                                        </h1>
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide carousel-item-a intro-item bg-image"
                style="background-image: url(assets/img/slide-3.jpg)">
                <div class="overlay overlay-a"></div>
                <div class="intro-content display-table">
                    <div class="table-cell">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="intro-body">
                                        <p class="intro-title-top">
                                            <br> 
                                        </p>
                                        <h1 class="intro-title mb-4">
                                            <span class="color-b"></span> 
                                            <br>
                                        </h1>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div><!-- End Intro Section -->

    <main id="main">

        <!-- ======= Services Section ======= -->


    <form action="" class="container m-4">
    <div class="input-group">
        <input class="form-control" type="search" placeholder="Recherche..." aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </div>
    </form>

<div class="container">
    <div class="row">

        {% for property in propertys %}
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card m-3">
                <div class="m-2"><img style="width:100%;" src="{{ vich_uploader_asset(property, 'imageFile') }}" />
                </div>
                <div class="m-2">
                    <p><strong> N° Référence : </strong> {{ (property.reference) }} </p>
                    <p><strong> | Category : </strong>{{ (property.category) }}<strong> | Type : </strong>{{
                        (property.typeproperty) }}</p>
                    <p class="text-justify">{{ (property.description) }}</p>
                    <p><strong>Surface : </strong> {{ (property.surface) }} <strong> M²</strong><strong> | Prix :
                        </strong>{{ (property.prix) }} <strong> € </strong></p>
                    <p><strong>Chambres : </strong>{{ (property.chambres) }}<strong> | Salle de Bains : </strong>{{
                        (property.salleBains) }}</p>
                    <p><strong>Number des Etages :</strong>{{ (property.etages) }}<strong>| Numero-Etage
                            :</strong>{{ (property.numeroEtage) }}</p>
                    <p><strong>Addresse : </strong>{{ (property.adresse) }} - {{( property.ville) }} {{
                        (property.codePostale) }}</p>
                    <p><strong>Region : </strong> {{ (property.region) }} </p>
                    <p><strong>Internet :</strong>{{ property.internet ? 'Yes' : 'No' }} <strong>| Balcon
                            :</strong>{{ property.balcon ? 'Yes' : 'No' }} <strong> | Garage :</strong>{{
                        property.garage ? 'Yes' : 'No' }}</p>
                    <p><strong>Salle de sport :</strong>{{ property.sallesport ? 'Yes' : 'No' }} <strong> | Piscine
                            :</strong>{{ property.piscine ? 'Yes' : 'No' }} <strong> | Camera :</strong>{{
                        property.camerasurveillance ? 'Yes' : 'No' }}</p>

                    <p><strong> | Telephone : </strong>{{ (property.telephone) }}<strong> | Email : </strong>{{
                        (property.email) }}</p>

                </div>

                <div>
                    <a class="btn btn-primary m-4" href="{{ path('app_propertys_show', {'id': property.id}) }}"
                        role="button">show</a>

                </div>

            </div>
        </div>
        {% else %}
        <p>No records found</p>


        {% endfor %}
    </div>
</div>
</div>






      <!-- End Services Section -->

      

       

       

        <!-- ======= Testimonials Section ======= -->
        <section class="section-testimonials section-t8 nav-arrow-a">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title-wrap d-flex justify-content-between">
                            <div class="title-box">
                                <h2 class="title-a">Témoignages</h2>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="testimonial-carousel" class="swiper">
                    <div class="swiper-wrapper">

                        <div class="carousel-item-a swiper-slide">
                            <div class="testimonials-box">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="testimonial-img">
                                            <img src="{{asset('assets/img/A.avif')}}" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="testimonial-ico">
                                            <i class="bi bi-chat-quote-fill"></i>
                                        </div>
                                        <div class="testimonials-content">
                                            <p class="testimonial-text">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis,
                                                cupiditate ea nam praesentium
                                                debitis hic ber quibusdam
                                                voluptatibus officia expedita corpori.
                                            </p>
                                        </div>
                                        <div class="testimonial-author-box">
                                           
                                            <h5 class="testimonial-author">Familly Albert </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- End carousel item -->

                        <div class="carousel-item-a swiper-slide">
                            <div class="testimonials-box">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="testimonial-img">
                                            <img src="{{asset('assets/img/B.jpg')}}" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="testimonial-ico">
                                            <i class="bi bi-chat-quote-fill"></i>
                                        </div>
                                        <div class="testimonials-content">
                                            <p class="testimonial-text">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis,
                                                cupiditate ea nam praesentium
                                                debitis hic ber quibusdam
                                                voluptatibus officia expedita corpori.
                                            </p>
                                        </div>
                                        <div class="testimonial-author-box">
                                            
                                            <h5 class="testimonial-author">Familly Pablo</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- End carousel item -->

                    </div>
                </div>
                <div class="testimonial-carousel-pagination carousel-pagination"></div>

            </div>
        </section><!-- End Testimonials Section -->

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer style="background-color: rgb(15, 153, 75);">
        <div class="card m-5" id="subscribe" style="background: rgb(2, 0, 36);
  background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(2, 72, 108, 1) 35%, rgba(0, 212, 255, 1) 100%);">
            <div class="card-body m-4">
                <form action="">
                    <strong class="text-white">Ne manquez pas de vous abonner à notre newsletter!</strong>
                    <label class="input-group mt-2">
    
                        <input type="text" class="form-control" placeholder="Votre E-mail">
                        <button class="btn btn-success" type="button" id="button-addon2">Subscribe</button>
                    </label>
                </form>
            </div>
        </div>
    
        <div class="text-center fw-bolder">
            <p class="text-decoration-none text-white">
                <a href="#!" class=" text-decoration-none text-white m-2">A Propos</a>
                <a href="#!" class=" text-decoration-none text-white m-2">Acheter</a>
                <a href="#!" class=" text-decoration-none text-white m-2">Location</a>
                <a href="{{path('app_contact')}}" class=" text-decoration-none text-white m-3">Contact</a>
            © 2024 Copyright : FreeImmo</p>
           
        </div>
    
        
    </footer>
   <!-- End  Footer -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="{{asset('assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{asset('assets/vendor/swiper/swiper-bundle.min.js')}}"></script>
    <script src="{{asset('assets/vendor/php-email-form/validate.js')}}"></script>

    <!-- Template Main JS File -->
    <script src="{{asset('assets/js/main.js')}}"></script>

</body>

</html>