<!-- ======= Header/Navbar ======= -->

<header>
<nav class="navbar navbar-default navbar-trans navbar-expand-lg fixed-top">
    <div class="container">
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDefault"
            aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <a class="navbar-brand text-brand" href="{{path('app_home')}}">Free<span class="color-b">Immo</span></a>

        <div class="navbar-collapse collapse justify-content-end" id="navbarDefault">
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link text-decoration-none fw-bolder text-success" href="{{path('app_home')}}">Accueil</a>
                </li>
<li class="nav-item">
    <a class="nav-link text-decoration-none fw-bolder text-success" href="{{path('app_users')}}">Mon Profile</a>
</li>

               

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mon Compte</a>
                    <div class="dropdown-menu">
                        {% if app.user %}
                        <a class="dropdown-item " href="{{path('app_login')}}">Mon Compte</a>

                        <a class="dropdown-item " href="{{path('app_logout')}}">Me Déconnecter</a>
                        {% else %}
                        <a class="dropdown-item" href="{{path('app_register')}}">M'Inscrire</a>
                        <a class="dropdown-item" href="{{path('app_login')}}">Me connecter</a>
                        {% endif %}



                    </div>
                </li>



                <li class="nav-item">
                    <a class="text-decoration-none fw-bolder text-success nav-link" href="{{path('app_login')}}" role="button">Deposer Une Annonce</a>
                    
                </li>


               
            </ul>
        </div>

       

    </div>
</nav>
</header>

<!-- End Header/Navbar -->