{% extends 'base.html.twig' %}

{% block title %}Propertys index{% endblock %}

{% block body %}
<div class="w-100 m-4">
    <h1>Annonces</h1>
    {% for message in app.flashes('success') %}
    <div class="alert alert-success mt-4">
        {{ message }}
    </div>
    {% endfor %}
    {# total items count #}
    <div class="count">
        <h6>Il y a <b>{{ propertys.getTotalItemCount }}</b> Annonces au total!</h6>
    </div>
    <div class="container">
        <div class="row">
            {% for property in propertys %}
            <div class="col-sm-6 mb-3 mb-sm-0">
                <div class="card m-3">
                    <div class="m-2">
                        <p><strong> N° Référence : </strong> {{ (property.reference) }} </p>
                        <p><strong> Category : </strong>{{ (property.category) }}<strong> | Type : </strong>{{
                            (property.typeproperty) }}</p>
                        <p><strong>Surface : </strong> {{ (property.surface) }} <strong> M²</strong><strong> | Prix
                                :</strong>{{ (property.prix) }} <strong> € </strong></p>
                        <p><strong>Addresse : </strong>{{ (property.adresse) }} - {{( property.ville) }} {{
                            (property.codePostale) }}</p>
                        <p><strong>Region : </strong> {{ (property.region) }} </p>
                        <p><strong> | Telephone : </strong>{{ (property.telephone) }}</p>
                        <p><strong> Email : </strong>{{ (property.email) }}</p>
                    </div>
                    <div>
                        <a class="btn btn-primary m-4" href="{{ path('app_propertys_show', {'id': property.id}) }}"
                            role="button">show</a>
                        <a class="btn btn-primary m-4" href="{{ path('app_propertys_edit', {'id': property.id}) }}"
                            role="button">edit</a>

                    </div>

                </div>
            </div>
            {% else %}
            <p>Aucun enregistrement trouvé</p>

            {% endfor %}
        </div>
    </div>
</div>
{# display navigation #}
<div class="navigation d-flex justify-content-center">
    {{ knp_pagination_render(propertys) }}
</div>

<a class="btn btn-primary m-4" href="{{ path('app_propertys_new') }}">Create new</a>

{% endblock %}